@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel Decorative', serif;
}

body {
  min-height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header .titulo {
  background-image: url('../assets/icon/logosiyte.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 300px;
  height: 80px;
  cursor: pointer;
  margin-right: 40px;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 69px;
  flex: 1;
  z-index: 100;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.navbar li a:hover {
  color: #ff0606;
}

.banner-cadastro {
  background-image: url("../assets/imgs/BACKGROUNDFUNDO.png");
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
}

.banner-cadastro video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
  padding: 25px;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #2d2d2d;
  border-radius: 10px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}

.card-box h1 {
  font-size: 24px;
  font-weight: 700;
}

.card-box a {
  color: #000000;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 800;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  max-width: 190px;
  font-family: "Montserrat", serif;
  font-weight: 800;
  height: 44px;
  background-color: #ffffff0a;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: 0.3s;
  margin-bottom: 10%;
}

.input:hover,
.input:focus,
.input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.label {
  font-family: 'Cinzel Decorative', serif;
  margin-bottom: 0.3rem;
  font-size: 25px;
  font-weight: bold;
  color: #05060f99;
  transition: color 0.3s;
}

.input-group:hover .label,
.input:focus + .label {
  color: #05060fc2;
}

.goBack {
  width: 100px;
  height: 100px;
}

.goBack img {
  height: 100px;
  width: 100px;
}

.log-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  gap: 10px;
}

.log-text a {
  color: #05060f99;
  width: fit-content;
  height: fit-content;
}

.log-text .link-login {
  color: rgb(19, 156, 246);
}

.log-text .link-login:hover {
  color: rgb(16, 127, 202);
  filter: brightness(0.8);
}
