@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

::selection {
  color: white;
  background: rgb(252, 245, 245);
}
body {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid gray; /* creates padding around scroll thumb */
}

html {
  scroll-behavior: smooth;
}

/*Tela OnePage Inicial*/

.tela {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 253, 253);
}
.tela-hist {
  width: 100%;
  height: 100vh;
  background-color: rgb(252, 252, 252);
}

.banner_foto {
  height: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  justify-content: center;
  background-image: url(../assets/img/Background/basilio.jpg);
}

.header {
  width: 100%;
  height: 8.75rem;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.navbar {
  position: fixed;

  background: rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", serif;
  display: flex;
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.125rem;
  z-index: 1;
}

.navbar img {
  width: 120px;
  height: 70px;
  margin: 0px;
  padding: 0px;
}

.navbar img:hover {
  cursor: pointer;
}

.navbar :hover {
  color: #7d7d7d;
  transition: 0.3s;
}

.navbar .buttom :hover {
  color: #000000;
  font-style: normal;
}

.header a {
  text-decoration: none;
  color: white;
}

/*Parte de texto da página*/
.texto {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: bolder;
  padding-left: 8vw;
  padding-top: 5vw;
  padding-bottom: 0px;
}

.texto .descritivo {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  justify-content: left;
}

/*Estilização de botoes*/
.buttom {
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
}

.card-buttom {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.card-buttom button {
  background-color: gray;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.card-buttom button:hover {
  background-color: #555;
  transform: translateY(-0.1vw);
  transition: transform 0.2s ease;
}

button {
  /* Variaveis */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  font-family: "Montserrat", serif;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

button .button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color); /* Cor do texto do botão */
  transform: translateY(-0.2vw);
  transition: transform 0.2s ease;
  opacity: 0.39;
}

button:hover .button_top {
  transform: translateY(-0.4em);
}

button:active .button_top {
  transform: translateY(0);
}

/*Titulo e texto da second section do site*/
.titulo {
  display: flex;
  font-family: "Playfair Display", serif;
  font-size: 54px;
  font-weight: bolder;
  justify-content: center;
  color: white;
}

.text-corinthians {
  display: flex;
  align-items: center;
  height: 50vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.text-corinthians a {
  font-family: "Montserrat", serif;
  color: white;
  font-size: 19px;
  justify-content: center;
  margin-right: 400px;
}

.text-corinthians img {
  justify-content: end;
  display: flex;
  width: 500px;
  height: 500px;
  margin-top: 10%;
  align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 50px 50px 3px 0px rgba(71, 70, 70, 1);
  -moz-box-shadow: 50px 50px 3px 0px rgba(71, 70, 70, 1);
  box-shadow: 50px 50px 3px 0px rgba(71, 70, 70, 1);
}

.box-texto {
  font-size: 20px;
  margin-top: 10%;
  margin-right: 10%;
}

.box-texto-democracia {
  font-size: 20px;
  margin-top: 10%;
  margin-left: 10%;
}

.box-texto-eu {
  font-size: 20px;
}

/* Tela da ONU */
.tela-sociedade {
  width: 95%;
  height: 65%;
  margin: 5vh;
  margin-bottom: 5vh;
  margin-top: 4vh;
  display: flex;
  gap: 20%;
}

.ods-onu {
  display: flex;
  margin-left: 15vh;
  width: 30%;
  height: 100%;
  justify-content: left;
  flex-direction: column;
  gap: 4%;
}
.ods-onu img {
  border-radius: 15px;
}

.container-content {
  width: 100vh;
  height: 100%;
  display: flex;
  margin-right: 15vh;
  margin-top: 0.5%;
  gap: 8%;
  flex-direction: column;
}

.content {
  width: 100%;
}

.content-ods {
  display: flex;
  margin-right: 15vh;
  width: 100%;
  height: 20%;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  background-color: #555;
}

footer {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: center;
  background-color: #161618;
}

footer span {
  display: flex;
  margin-right: 15px;
}

footer img {
  height: 80px;
  width: 80px;
}

footer .github {
  height: 50px;
  width: 50px;
}

footer img:hover {
  cursor: pointer;
  scale: 1.1;
}

